@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
 
 *{
     margin: 0;
     padding: 0;
     text-align: center;
 }
 
 .section_one{
     padding: 50px;
     background-color: black;
     color: white;
     width: 100%;
     height: 85vh;
     overflow: hidden;
     text-align: center;
     align-items: center;
     align-content: center;
     margin-top: 3%;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
 }

 .div_one{
     border: none;
 }

 .div_two h1{
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
    
 }
.heading_three{
    font-family: 'Indie Flower', cursive;
}


.heading_two { 
    text-align:center; 
    font-size:4rem;
    margin-bottom: 5% ;
    margin-top: 5% ;
}



@media screen and (max-width: 767px){

    .section_one{
        padding: 50px 50px 100px 50px;
        background-color: black;
        color: white;
        width: 100%;
        height: 85vh;
        overflow: hidden;
        text-align: center;
        align-items: center;
        align-content: center;
        margin-top: 3%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
   
    .div_one{
        border: none;
        margin-bottom: 15%;
    }


    .div_two h1{
       font-size: 3.5rem;
       margin-bottom: 1.5rem;
       
    }
   .heading_three{
       font-family: 'Indie Flower', cursive;
   }
   
   
   .heading_two { 
       text-align:center; 
       font-size:4rem;
       margin-bottom: 5% ;
       margin-top: 5% ;
   }
   
}













.section_two {
    width: 100%;
    overflow: hidden;
    margin-top:-3%;
    padding: 20px;
    text-align: center;
}

.section_two h1{
    margin-bottom: 2%;
}

.section_two p{
    text-align: left;
    text-indent: 40px;
    padding: 0 10px 0 15px;
    font-size: 1.3rem;
}


.card-body{
    border: none;
}


















